h1 {
  color:           #CC5500;
  font-size:       550%;
  margin:          0 0 0.1em;
  font-family:     'DancingScriptOTRegular';
  text-decoration: none;
  text-shadow:     2px 2px 10px rgba(0,0,0,0.55);
}

#subtitle {
  color:           #a1804c;
}

