h1 {
  font-size:       550%;
  margin:          0 0 0.1em;
  font-family:     'BallparkWeiner', serif;
  font-weight:     Normal;
  text-shadow:     2px 2px 10px rgba(0,0,0,0.55);
}

h1 a,
h1 a:hover {
  color:           #CC5500;
  font-weight:     normal;
  text-decoration: none;
}

#subtitle {
  color:           #a1804c;
}

